@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-panel {
    @apply bg-dark-900 backdrop-blur-md;
    background-color: rgba(15, 16, 18, 0.7);
  }

  .card {
    @apply rounded-xl p-5 border;
    background-color: rgba(22, 24, 29, 0.5);
    border-color: rgba(42, 46, 55, 0.5);
  }
}
